@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.box{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50vh;
    background-color: #FFFFFF;
    border: 1px solid #cbcbcb;
    margin: 5em auto;
    border-radius: 1rem;
    padding: 5em;
    justify-content: center;
    align-items: center;
    gap: 2em;
    font-family: 'Inter', sans-serif;
}
@media only screen and (max-width: 767px){
    .box{
        width: 100%;
        border-radius: 0;
        border: none;
        padding: 2.5em;
    }
    .box button{
        width: 60% !important;
    }
    .box .passwordArea{
        width: 80% !important;
    }
}
.box h1{
    font-size: 2.2rem;
    font-weight: 500;
}

.box .passwordArea{
    width: auto;
    display: flex;
    width: 100%;
    border: 1px solid #666666;
    border-radius: .5rem;
    justify-content: space-between;
    padding-right: 2.5em;
}

.box .passwordArea img{
    cursor: pointer;
}

.box .password{
    height: 2.5rem;
    font-size: 1.6rem;
    padding: .5em 1em;
    outline: none;
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
}
.box .passwordArea:hover{
    border: 1px solid #4285F4;
}

.box #error{
    display: flex;
    font-size: 1.4rem;
    gap: 1em;
    color: #EA4335;
    align-items: center;
    font-weight: 500;
}

.box button{
    width: calc(30% + 2em);
    padding: .5em 1em;
    font-size: 1.7rem;
    cursor: pointer;
    border: none;
    background-color: #232323;
    border-radius: .5rem;
    color: #FFFFFF;
}