@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.codeArea{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50vh;
    background-color: #FFFFFF;
    border: 1px solid #cbcbcb;
    margin: 5em auto;
    border-radius: 1rem;
    padding: 5em;
    justify-content: center;
    align-items: center;
    gap: 2em;
    font-family: 'Inter', sans-serif;
}
@media only screen and (max-width: 1020px){
    .codeArea{
        width: 100%;
        border-radius: 0;
        border: none;
        padding: 2.5em;
    }
    .codeArea .sendCodeArea button, .codeArea .sendCodeArea input{
        width: 60%;
    }
}
@media only screen and (max-width: 520px){
    .checkCodeArea input{
        width: 15% !important;
    }
    .checkCodeArea span{
        width: 2.5%;
    }
}
.codeArea h1{
    font-size: 2.2rem;
    font-weight: 500;
}
.sendCodeArea{
    display: flex;
    flex-direction: column;
    gap: 5em;
    width: 100%;
    align-items: center;
}
.sendCodeArea input{
    height: 2.5rem;
    width: 30%;
    font-size: 1.7rem;
    outline: none;
    border: 1px solid #666666;
    padding: .5em 1em;
    border-radius: .5rem;
}
.sendCodeArea button{
    width: calc(30% + 2em);
    padding: .5em 1em;
    font-size: 1.7rem;
    cursor: pointer;
    border: none;
    background-color: #232323;
    border-radius: .5rem;
    color: #FFFFFF;
}
.checkCodeArea{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#remainingTime{
    font-size: 1.7rem;
}
#remainingTime span{
    font-weight: 500;
}