@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.loginBox{
    background-color: #FFFFFF;
    border: 1px solid #cbcbcb;
    border-radius: 2rem;
    font-family: 'Inter', sans-serif;
    width: 50%;
    margin: 10em auto;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
@media only screen and (max-width: 767px) {
    .loginBox{
        width: 95%;
        margin-bottom: 15em;
        border: none;
        margin: 5em auto 15em auto;
    }
}
.loginBox h1{
    font-size: 2.2rem;
    font-weight: 500;
}
.loginBox form{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 100%;
}
.loginBox form .passwordArea{
    width: auto;
    display: flex;
    width: 100%;
    border: 1px solid #666666;
    border-radius: .5rem;
    justify-content: space-between;
    padding-right: 2.5em;
}

.loginBox form .passwordArea img{
    cursor: pointer;
}
.loginBox form #error{
    display: flex;
    font-size: 1.4rem;
    gap: 1em;
    color: #EA4335;
    align-items: center;
    font-weight: 500;
}

.loginBox form input{
    height: 2.5rem;
    font-size: 1.6rem;
    padding: .5em 1em;
    outline: none;
}
.loginBox form .email{
    border: 1px solid #666666;
    border-radius: .5rem;
}
.loginBox form .password{
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
}
.loginBox form .email:hover, .loginBox form .passwordArea:hover{
    border: 1px solid #4285F4;
}

.loginBox form button{
    padding: .5em 0;
    font-size: 1.8rem;
    background-color: #4285F4;
    cursor: pointer;
    border: none;
    border-radius: .5rem;
    color: #FFFFFF;
    transition: .3s all;
}
.loginBox form button:hover{
    background-color: #3974d3;
}
.loginBox #forgetPass, .loginBox #politicy{
    font-size: 1.5rem;
}
.loginBox #forgetPass a{
    font-size: 1.6rem;
    text-decoration: none;
    color: #3974d3;
    font-weight: 500;
}
.loginBox #politicy a{
    font-size: 1.6rem;
    text-decoration: none;
    color: #6C63FF;
    font-weight: 500;
}
.loginBox #other {
    text-align: center;
    font-size: 1.7rem;
}
.loginBox .others{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}
.loginBox .others .googleButton{
    display: flex;
    align-items: center;
    gap: 1em;
    background: none;
    border: 1px solid #666666;
    cursor: pointer;
    padding: .5em 2em;
    border-radius: 1rem;
    font-size: 1.6rem;
}