@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.biographyArea{
    padding: 5em;
}

.biographyArea .title{
    font-family: 'Inter', sans-serif;
    font-size: 2.6rem;
    font-weight: 500;
}
.biographyArea .content{
    font-family: 'Inter', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    padding: 1em 1.5em;
}

@media only screen and (max-width: 767px){
    .biographyArea{
        padding: 3.5em;
    }
    .biographyArea .title{
        font-size: 2.2rem;
    }
    .biographyArea .content{
        font-size: 1.8rem;
    }
}